.plugin-list {
  &__container {
    height: auto;
    width: 100%;
  }
  
  &__item {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #312e31;
    color: white;
    position: relative;
    font-weight: lighter;
    margin: 8px;
    -webkit-box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);


    &-name {
      display: inline-block;
      clear: both;
      font-size: 18px;
      display: flex;

      span {
        padding: 8px;

        background: black;
        margin: 0;
      }

      .triangle-background {
        display: inline-block;
        justify-self: flex-start;
        top: 0;
        padding: 0;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid black;
        margin-right: -48px;
        margin-bottom: -8px;

      }
    }

    &-state {
      position: absolute;
      right: 0;
      top: 0;
      padding: 13px 8px;
      display: flex;

     span{
         color:grey;
         margin-right:4px;
         &.activated{
             color:rgb(230, 227, 227);
         }
     }
      .state-loading-ring {
        display: block;
        border-radius: 50%;
        background: rgb(182, 19, 19);
        border: 0.5px solid rgb(51, 51, 51);

        &.updating {
          &.state-loading-ring:after {
            opacity: 1;
          }
        }

        &.activated {
          background: rgb(50, 196, 50);
        }


      }

      .state-loading-ring:after {
        opacity: 0;
        display: block;
        content: " ";
        margin: -2px;
        width: 22px;
        height: 22px;
        justify-self: center;
        align-content: center;
        border-radius: 50%;
        border: 1.5px solid rgb(255, 255, 255);
        border-color: rgba(255, 255, 255, 1) transparent rgba(255, 255, 255, 1) transparent;
        animation: state-loading-ring 1.2s linear infinite;
      }


      @keyframes state-loading-ring {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

    }

    &-image {
      display: flex;
      align-content: center;
      margin-top: 8px;
      background: rgba(241, 241, 241, 0.05);

      align-content: center;


      img {
        height: 60px;
        width: auto;
        margin: 8px;
      }
    }

    &-field {
      position: relative;
      display: block;
      padding: 8px;
    }
    &-toggle-description{
        color: white;
        opacity: 0.1;
        display: inline;
        margin-right: 8px;
        transition: opacity 300ms;

        &.extended{
          opacity: 0;
        }
      
    }
    &-toggle-button {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 8px;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      cursor: pointer;

      img {
        height: 22px;
        width: 22px;
        -webkit-transition: transform 300ms;
        /* Safari prior 6.1 */
        transition: transform 300ms;
        transform: rotate(90deg);

        &.extended {
          transform: rotate(0deg);

        }
      }
      &:hover {
        img{
          transform: rotate(85deg);
          opacity: 0.9;
             transform: rotate(85deg);
             &.extended {
              transform: rotate(0deg);
            }
        }
        .plugin-list__item-toggle-description{
          opacity: 0.3;
        }
      }

    }
   

    &-extension {
      background: #312e31;
      height: 0px;
      transition: height 600ms;
      margin: 8px;
      border-bottom-right-radius: 5px;

      &.extended {
        border-top: 1px solid black;
        height: auto;
        opacity: 1;
      }

      .configuration-container {
        color: white;
        padding: 8px;

        &-header {
          font-size: 20px;
          color: white;
          font-weight: normal;

        }

        &-field {
          position: relative;
          display: block;

          .title {
            font-weight: lighter;
            color: gray;
          }
        }
      }
    }

    &.extended {
      // item in extended state
      -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
      border-bottom-right-radius: 0px;
      margin-bottom: -8px;

    }

    
  }

}
