.sidebar-nav-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 11vw;
  min-width: 150px;
  background: #312e31;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.4);

  
  .nav-header{
    z-index: 99;
    position: fixed;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    top: 16px;
    left: 0;
    align-items: center;
    img{
      height: 30px;
    }
    span{
      color:white;
      font-size: 1.1em;
      font-weight: lighter;
      padding: 12px;
    }
    .getting-started{
      background: #312e31;
      position: fixed;
      right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 8px 0;
      font-size: 1.1em;

      &:hover{
        background: rgb(241, 241, 241);  
        span{
          height: 48px;

          color: #312c32;
        }
      }
      a{
        text-decoration: none;
        span{
          padding:16px;
        }
      }
     
    }
    &:hover{
      opacity: 0.9;
    }
   
  }

  .nav-container {
    position: relative;
    padding: 0;
    margin: 0;

    &__element {
      height: 60px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      display: flex;
      margin: 16px 0;
      min-width: 110px;
      list-style-type: none;
      background: #232024;
      color: white;
      display: flex;
      align-items: center;
      align-self: flex-end;
      -webkit-box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 7px 0px 24px -2px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      padding: 0 16px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */

      li {
          font-size: 18px;
      }

      &:hover,
      &.isActive {
        background: white;
        color: #312c32;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      &:hover{
        background: rgb(241, 241, 241);  
      }

    }

  }
}
