<div class="sidebar-nav-container">
  <a href="https://www.eclipse.org/vorto/" target="_blank">

    <div class="nav-header">
      <img [src]="vortoLogo">
      <span>Vorto Normalizer</span>
      <div class="getting-started"><a href="https://github.com/eclipse/vorto-examples/tree/master/vorto-middleware" target="_blank"><span>Get Started</span></a></div>
    </div>
  </a>

  <ul class="nav-container">
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/plugins" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Plugins</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/monitoring" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Monitoring</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/mappings" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Mappings</li>
    </a>
  </ul>
</div>
