*.env
*.classpath
*.project
vorto-connector/.settings/
vorto-generators/.settings/
.settings/
target/**
*/target/**
vorto-generators/generator-runner/target/generator-runner-0.10.0-SNAPSHOT.jar
target/
xtend-gen/
.versionsBackup
pom.xml.versionsBackup
node_modules
*.lock
