.settings {
  &__container {
    height: auto;
    width: 100%;

    &-header {
      padding: 8px;
      margin: 8px;
      background: black;
      color: white;
      border-top-right-radius: 5px;


    }

    .mapping-item {
      background: #312e31;
      color: white;
      position: relative;
      font-weight: lighter;
      margin: 8px;
      padding: 8px;
      -webkit-box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 2px 13px 3px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;

      &-toggle {
        justify-content: flex-end;
        margin-left: 8px;
        cursor: pointer;

        img {
          transform: rotate(90deg);
          -webkit-transition: transform 300ms;
          /* Safari prior 6.1 */
          transition: transform 300ms;
          width: 22px;
          height: auto;

          &:hover {
            transform: rotate(86deg);
            opacity: 0.9;
          }

          &.extended {
            transform: rotate(0deg);

          }
        }
      }
      &-json-container{
        display: block;
      }
    }
  }


}
