.card {
    border-radius: $border-radius-base;
    background: $default-background-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9), 0 0 0 1px rgba(63, 63, 68, .8);
    margin-bottom: 30px;
    z-index: 0;


    color: $default-white;

    &_attributes {
        background: $default-background-color;
        margin-top: 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .9), 0 0 0 1px rgba(63, 63, 68, .8);


        .thing-name {
            background: $card-header-background-color;
            color: $card-header-color;

            margin: 0;
            padding: 10px;
            display: flex;
            align-items: center;

            .attr-img-container-mobile {
                @media screen and (min-width:993px) {
                    display: none;
                }
                margin: 0 10px 0 0;
                align-self: center;
                background: $default-white;
                display: flex;
                border-radius: 50%;
                box-shadow: 0 0 0 6px $default-dark-transparent;
                overflow: hidden;
                height: 45px;
                width: 45px;
                display: inline-block;

                img {
                    width: auto;
                    height: 100%;
                }
            }

            span {
                font-size: 24px;
            }


        }

        .attr-container {
            display: flex;
            flex-direction: row;
            padding: 15px 0;
            align-items: stretch;
            width: 100%;

            .attr-img-container {
                @media screen and (max-width:993px) {
                    display: none;
                }

                background: $default-white;
                display: flex;
                border-radius: 50%;
                box-shadow: 0 0 0 6px $default-dark-transparent;
                overflow: hidden;
                height: 200px;
                width: 200px;

                img {
                    width: auto;
                    height: 100%;

                }
            }

        }

        .attr-info-block {
            align-self: center;
            border-radius: $border-radius-base;
            background: $default-dark-transparent;
            padding: 10px;
            margin-left: 15px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 1px rgba(30, 30, 31, 0.2);
            width: calc(100% - 215px);

            @media screen and (max-width:993px) {
                width: 100%;
            }

            &_header {
                font-size: 20px;
                color: $card-header-color;
            }

            .attr-keyword {
                font-weight: 100;
                color: $card-header-color;
            }

            &_virtual {
                height: 100%;
                max-height: 250px;
                width: 100%;
                display: flex;
                justify-content: center;

                .attr-info-block {
                    padding: 0px;

                    background: none;
                    box-shadow: none;

                    width: 100%;

                }
            }

        }

    }


    .filter {
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, .68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        @include opacity(0);

        .btn {
            @include vertical-align();
        }
    }

    &:hover .filter {
        @include opacity(1);
    }

    .btn-hover {
        @include opacity(0);
    }

    &:hover .btn-hover {
        @include opacity(1);
    }

    .content {}

    .header {
        padding: 15px 15px 0;
    }

    .category,
    label {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        color: $default-white;
        margin-bottom: 0px;

        i {
            font-size: $font-paragraph;
        }
    }

    label {
        font-size: $font-size-small;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .title {
        margin: $none;
        color: $black-color;
        font-weight: $font-weight-light;
    }

    .avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }

    .description {
        font-size: $font-size-base;
        color: #333;
    }

    .footer {
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;

        .legend {
            padding: 5px 0;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .stats {
        color: #a9a9a9;
    }

    .footer div {
        display: inline-block;
    }

    .author {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .author i {
        font-size: $font-size-base;
    }

    h6 {
        font-size: $font-size-small;
        margin: 0;
    }

    &.card-separator:after {
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }

    .ct-chart {
        margin: 30px 0 30px;
        height: 245px;
    }

    .table {

        tbody td:first-child,
        thead th:first-child {
            padding-left: 15px;
        }

        tbody td:last-child,
        thead th:last-child {
            padding-right: 15px;
        }
    }

    .alert {
        border-radius: $border-radius-base;
        position: relative;

        &.alert-with-icon {
            padding-left: 65px;
        }
    }
}

.card-user {
    .image {
        height: 110px;
    }

    .image-plain {
        height: 0;
        margin-top: 110px;
    }

    .author {
        text-align: center;
        text-transform: none;
        margin-top: -70px;
    }

    .avatar {
        width: 124px;
        height: 124px;
        border: 5px solid #FFFFFF;
        position: relative;
        margin-bottom: 15px;

        &.border-gray {
            border-color: #EEEEEE;
        }
    }

    .title {
        line-height: 24px;
    }

    .content {
        min-height: 240px;
    }
}

.card-user,
.card-price {
    .footer {
        padding: 5px 15px 10px;
    }

    hr {
        margin: 5px 15px;
    }
}

.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;

    .image {
        border-radius: 4px;
    }
}

.card-stats {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;



    .header {
        width: 100%;
        background: $card-header-background-color;
        margin: 0;
        padding: 10px;
        font-size: 20px;
        font-weight: 100;

        &:hover {
            cursor: pointer;
            background: $default-dark-hover;
        }
    }

    .inner-card-container {
        overflow-y: hidden;
        height: 100%;
        padding: 10px;
        align-items: center;
       
    }
  


    .icon-big {
        font-size: 3em;
        min-height: 64px;

        i {
            font-weight: bold;
            line-height: 59px;
        }
    }

    .numbers {
        font-size: 2em;
        text-align: right;

        p {
            margin: 0;
        }
    }
}




.data-val {
    font-size: 1.25em;
    font-weight: 400;

}




///battery

.battery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    overflow: hidden;

    .battery {
        background-color: #e5e5e5;
        border-radius: 15px;
        height: 100px;
        position: relative;
        width: 50%;
        min-width: 150px;
        padding: 5px;

        .battery-background {
            height: 100%;
            border-radius: 10px;
            -webkit-transition: width 1s;
            -moz-transition: width 1s;
            -ms-transition: width 1s;
            -o-transition: width 1s;
            transition: width 1s;
        }
    }

    .battery-percentage {
        font-size: 32px;
    }

    .battery::after {
        background-color: #e5e5e5;
        content: "";
        display: block;
        height: 30px;
        position: absolute;
        right: -12px;
        top: 33%;
        width: 10px;
        border-radius: 0 5px 5px 0;
    }
}


/// connectivity
.connectivityIcon {
    font-size: 1.25em;
    position: absolute;
    top: 10px;
    right: 25px;
}

.connectivity-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.connectivity {
    font-size: 5.5em;
    margin-left: -75px;

    -webkit-text-stroke: 4px #e5e5e5;
    text-stroke: 4px #e5e5e5;
}

.connectivity-state {
    margin-top: 10px;
}


/// barchart
.chart-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}

.barchart-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.bar-chart {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid #e5e5e5a4;
    border-radius: 20px 20px 0 0;

    -webkit-min-height: 15%;
    -moz-min-height: 15%;
    -ms-min-height: 15%;
    -o-min-height: 15%;
    min-height: 15%;

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;

    .data-val {
        @media screen and (max-width:1200px) {
            font-size: 0.9em;
        }
        font-size: 1.1em;

    }
}

/// card map
.card-map {
    overflow: hidden;
    z-index: 0;


    .map-wrapper {
        width: 100%;
        height: 248px;
        min-height: initial;
        /* or `unset` */

    }
}

/// thermometer card
.thermometer {
    width: 100%;

    .thermometer-glass {
        background: #e5e5e5;
        border-radius: 100px 100px 0 0;
        display: block;
        height: 175px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        width: 30px;
    }

    .thermometer-amount {
        background: $card-temperature-red;
        border-radius: 100px 100px 0 0;
        width: 20px;
        position: absolute;
        bottom: -5px;
        display: block;
        -webkit-max-height: 100%;
        -moz-max-height: 100%;
        -ms-max-height: 100%;
        -o-max-height: 100%;
        max-height: 100%;
        z-index: 1;

        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        -ms-transition: height 1s;
        -o-transition: height 1s;
        transition: height 1s;

        .thermometer-currVal {
            font-size: 1.1em;
            word-wrap: break-word;
            position: absolute;
            right: 40px;
            top: -10px;
            margin-left: auto;
            margin-right: auto;
        }


    }

}


.thermometer-maxVal {
    position: absolute;
    left: 50px;
    margin-left: auto;
    margin-right: auto;

}

.thermometer-minVal {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50px;
    bottom: -45px;
}


.thermometer-bulb {
    background: #e5e5e5;
    border-radius: 100%;
    display: block;

    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;

    .thermometer-redCircle {
        background: $card-temperature-red;
        border-radius: 100%;
        display: block;
        height: 50px;
        width: 50px;
    }

}

/// code card

.code-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .code {
        -webkit-user-select: text;
        /* Chrome 49+ */
        -moz-user-select: text;
        /* Firefox 43+ */
        -ms-user-select: text;
        /* No support yet */
        user-select: text;
        /* Likely future */
        height: 100%;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -18px;
        /* Increase/Decrease this value for cross-browser compatibility */
        overflow-y: scroll;


    }
}


/// gauge card
.gauge-container{
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.gauge{
    margin-top: 20px;
    position: relative;
    width: 250px;
    @media screen and (max-width:1200px) {
        width: 200px;
    }

    height:125px;
    align-items: center;
    bottom: -13px;

    .gauge-min {
        position: absolute;
        bottom: -30px;
        text-align: center;
        z-index: 1;

        @media screen and (max-width:1200px) {
            bottom: -5px;
        }
    }

    .gauge-max {
        position: absolute;
        bottom: -30px;
        right: 0;
        text-align: center;
        z-index: 1;

        @media screen and (max-width:1200px) {
            bottom: -5px;
        }
    }
}

.gauge::before {

    position: absolute;
    content: '';
    width: 250px;
    height: 125px;
    border: 40px solid #e5e5e5f5;
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;

    @media screen and (max-width:1200px) {
        width: 200px;
        height: 100px;
    }
}

.gauge-percentage {
    overflow: hidden;

    position: absolute;
    top: 100%;
    left: 7px;
    width: 235px;
    height: 117px;
    border: 25px solid $default-selection-color;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;

    transform-origin: center top;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;

    @media screen and (max-width:1200px) {
        left: 7px;
        width: 185px;
        height: 92px;
        top: 100px;
    }
}

.gauge-mask {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    background: $default-background-color;

    @media screen and (max-width:1200px) {
        height: 125px;

    }

}




.gauge-value {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1;
}

/// PERCENTAGE
.percentage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .percentage {
        background-color: #e5e5e5;
        border-radius: 15px 15px 0 0;
        height: 150px;
        position: relative;
        width: 100px;
        padding: 5px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .percentage-background {
            width: 100%;
            border-radius: 10px 10px 0 0;
            background-color: #4494c1;

            -webkit-transition: height 1s; 
            -moz-transition: height 1s; 
            -ms-transition: height 1s; 
            -o-transition: height 1s; 
            transition: height 1s;
        }
    }

    .percentage-percentage {
        font-size: 30px;
    }
}

/// demo state number
.state-number-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}