.console{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 46px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(15, 15, 15);
    padding: 8px;
    margin: 8px;
    padding-right: -17px;
    border-radius: 2px;
    border-bottom-right-radius: 5px;
    color: grey;


    &__message-group{
      margin: 0 4px 8px 4px;
      border-top: solid 1px rgba(163, 163, 163, 0.9);
      padding: 4px;
      &__header{
        font-weight: bold;
      font-family: 'Inconsolata', monospace;
      font-size: 1.2em;
      margin: 0px 8px;
      color:white

      }
    }
&__message{
    font-family: 'Inconsolata', monospace;
    margin: 0 0 8px 0;
    font-size: 1rem;
    &-title{
        color:rgb(180, 180, 180);
        font-weight: bolder;
    }
    .plugin-icon{
      display: inline;
      margin-right: 4px;
      img{
        height: 20px;
      }
    }

}
.blinking-cursor {
    font-weight: 100;
    font-size: 1em;
    color: grey;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: grey;
      ;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: grey;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: grey;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: grey;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: grey;
    }
  }

}