@import "src/variables";

.main-container {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  min-width: 800px;


  .content {
    background: $default-white;
      margin: 70px 16px 20px 0;
      width: 100%;
      height: calc( 100vh - 80px);
      overflow-y: auto;
      overflow-x: hidden; // hide horizontal
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  }
}

