<div class="settings__container">
    <div class="settings__container-header">Activated mappings:</div>
    <div *ngFor="let mapping of mappingList">
      <div class="mapping-item"  [ngClass]="{'extended': isExtended(mapping.mappingId)}">
        {{mapping.mappingId}}
        <div  class="mapping-item__toggle unselectable" (click)="toggle(mapping.mappingId)">
          <img class="unselectable" [ngClass]="{'extended': isExtended(mapping.mappingId)}" [src]="toggleIcon">
        </div>
      </div>
  
      <div class="mapping-item__content" [ngClass]="{'extended': isExtended(mapping.mappingId)}">
          
           <a class="url-button unselectable" href="{{mapping.url}}" target="_blank">
             <span>Go to mapping definition</span>
              <img [ngClass]="{'extended': isExtended(mapping.mappingId)}" [src]="urlIcon">
           </a>
           
      </div>
  
    </div>
  