//default colors

$main-background-color: #000000e0;

$url-color: #457599;
$url-color-hover: #4c83ad;

$default-white: #fafafa;
$default-black: #131313;
$default-black-hover: #0F0F0F;

$dark-background-color: #1f1e1f;
$light-background-color: #F7F1F1;
$box-shadow-color: rgba(31, 30, 31, 0.3);
$dark-header-background-color: #292829;
$grey-font-color: #ADADAD;

//sidebar
$sidebar-dark-background-color: #312e31;
$github-button-background-color: #161616;


//mappings view
$updating-indicator-color: #E4E4E4;
$install-button-color:  #4BB543;
$uninstall-button-color: #E9161D;
$create-button-color: #181818;
$button-border-color-hover: #A5A5A5;

//monitoring view
$console-font-color: #808080;
$console-message-title-color: #B4B4B4;

//plugins view
$inactive-color: #B61313;
$activated-color: #32C432;
$plugin-background-color: rgba(241, 241, 241, 0.08);

