<div class="sidebar-nav-container">
  <a href="https://www.eclipse.org/vorto/" target="_blank">

    <div class="nav-header">
      <img [src]="vortoLogo">
      <span>Vorto Normalizer</span>
    </div>
  </a>

  <ul class="nav-container">
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Plugins</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/monitoring" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Monitoring</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/settings" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Settings</li>
    </a>
  </ul>
</div>
