<div class="sidebar-nav-container">
  <ul class="nav-container">
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Plugins</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/monitoring" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Monitoring</li>
    </a>
    <a class="nav-container__element" routerLinkActive="isActive" routerLink="/settings" [routerLinkActiveOptions]="{exact:
        true}">
      <li>Settings</li>
    </a>
  </ul>
</div>
